h1{
    color: blue;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;

}
ol{
    padding: 20;
    margin: 20;

}
h2{
    color:blue;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: square;
    padding: 0;
    margin: 0;
}